.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3rem);
  padding: 1rem 1rem;
  top: 0;
  z-index: 10;
  background: transparent;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    padding-top: 30px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 1) 15%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0.95) 25%,
        rgba(255, 255, 255, 0.90) 30%,
        rgba(255, 255, 255, 0.85) 35%,
        rgba(255, 255, 255, 0.75) 40%,
        rgba(255, 255, 255, 0.70) 45%,
        rgba(255, 255, 255, 0.60) 50%,
        rgba(255, 255, 255, 0.50) 55%,
        rgba(255, 255, 255, 0.40) 60%,
        rgba(255, 255, 255, 0.30) 70%,
        rgba(255, 255, 255, 0.20) 80%,
        rgba(255, 255, 255, 0.10) 90%,
        rgba(255, 255, 255, 0) 100%
    );

    pointer-events: none;
    z-index: -1;
  }

  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .actions {
    display: flex;
    gap: 0.5rem;
  }

  .iconButton {
    color: black;
    background: #f4f4f4;
    border: none;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;

    &:hover {
      background: #e0e0e0;
    }
  }
}
